.rooms-container {
  padding: 50px;
  text-align: center;
  background-color: #F5F5F5;
  height: 100vh;
}

.text-header {
  margin-bottom: 40px;
}

/* O Wrapper que segura os botões e a imagem */
.slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.slide-content {
  position: relative;
  width: 900px;
  height: 400px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.slide-content img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  display: block;
}

/* Texto dentro da imagem */
.slide-info {
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: rgb(241, 238, 238);
  text-align: left;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
}

.slide-info p {
  color: #fbfaf9;
}

/* Classe para o container do botão ESQUERDO */
.nav-left {
  position: absolute;
  left: -50px;
  transform: translateY(-50%);
  z-index: 10;
}
 
.nav-right {
  position: absolute;
  top: 50%;
  right: -50px;
  transform: translateY(-50%);
  z-index: 10;
}
  