/* CancelButton.module.css */
.container {
  /* Estilos baseados na imagem */
  padding: 10px 50px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px; /* Cantos arredondados */
  color: #000; /* Texto preto */
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.container:hover {
  /* Efeito de hover sutil */
  background-color: #f5f5f5;
  border-color: #bbb;
}