.container {
  margin-top: 3rem;
}

.header {
  margin-bottom: 1.5rem;
}

.header h2 {
  font-size: 1.8rem;
  font-weight: 500;
  color: #111;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
}

/* Card de Adicionar (Botão +) */
.addCard {
  background-color: #FFECD6; /* Tom pêssego/bege da imagem */
  border-radius: 20px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px dashed #F6C8A6;
  transition: all 0.2s;
}

.addCard:hover {
  background-color: #ffe4c4;
  transform: translateY(-5px);
}