.home-container {
  
  flex-direction: column; 

  
  width: 100%;
  min-height: 100vh;
}

.fixed-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
height: 100vh; /*capa ocupa 100% da altura da tela */
  z-index: -1;
  
}

.scrolling-content {
  margin-top: 100vh; 
  background-color: #F5F3EE; 
  
  position: relative;
  z-index: 1; /* Na frente da capa */
 
}